* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Aldrich", sans-serif;
}
/* header */
header {
  top: 0;
  height: 80px;
  width: 100%;
  position: fixed;
  background-color: rgb(0, 0, 0);
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 5px;
  z-index: 2;
}

.color {
  background-color: rgba(0, 0, 0, 0.815);
}

.leftHeader {
  height: inherit;
  width: 25%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: "Aldrich", sans-serif;
}

.leftHeader a {
  text-decoration: none;
  color: white;
}

.rightHeader {
  height: inherit;
  width: 25%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.rightHeader a {
  margin: 10px;
  text-decoration: none;
  color: white;
  font-family: "Aldrich", sans-serif;
  font-size: 12px;
}
.rightHeader button {
  font-family: "Aldrich", sans-serif;
  margin: 10px;
  color: white;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  padding: 0;
  cursor: pointer;
  font-size: 12px;
}

.link {
  position: relative;
  transition: -webkit-clip-path 275ms ease;
  transition: clip-path 275ms ease;
  transition: clip-path 275ms ease, -webkit-clip-path 275ms ease;
}
.link:hover span::before,
.link:focus span::before {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
.link span {
  position: relative;
  display: inline-block;
  color: white;
}
.link span::before {
  position: absolute;
  content: attr(data-content);
  color: white;
  text-decoration: underline;
  -webkit-text-decoration-color: white;
  text-decoration-color: white;
  -webkit-clip-path: polygon(0 0, 0 0, 0% 100%, 0 100%);
  clip-path: polygon(0 0, 0 0, 0% 100%, 0 100%);
  transition: -webkit-clip-path 275ms ease;
  transition: clip-path 275ms ease;
  transition: clip-path 275ms ease, -webkit-clip-path 275ms ease;
}

span.dotted::before {
  -webkit-text-decoration-style: dotted;
  text-decoration-style: dotted;
}

span.dashed::before {
  -webkit-text-decoration-style: dashed;
  text-decoration-style: dashed;
}

span.double::before {
  -webkit-text-decoration-style: double;
  text-decoration-style: double;
}

span.wavy::before {
  -webkit-text-decoration-style: wavy;
  text-decoration-style: wavy;
}

span.line-through::before {
  -webkit-text-decoration-line: line-through;
  text-decoration-line: line-through;
}

#productsFromCart {
  margin-top: 100px;
}

button#buyBtn,
.productCard button {
  cursor: pointer;
  padding: 5px;
  margin: 5px;
  text-align: center;
  width: 90px;
}

button#buyBtn,
.productCard button {
  padding: 10px 25px;
  font-weight: 500;
  background: transparent;
  outline: none !important;
  cursor: pointer;
  transition: all 0.5s ease;
  position: relative;
  display: inline-block;
}

#buyBtn,
.productCard button {
  border: 2px solid rgb(0, 0, 0);
  z-index: 1;
  color: rgb(0, 0, 0);
  width: 200px;
}

#buyBtn:after,
.productCard button:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: rgb(0, 0, 0);
  transition: all 0.3s ease;
}

#buyBtn:hover,
.productCard button:hover {
  color: rgb(255, 255, 255);
}

#buyBtn:hover:after,
.productCard button:hover:after {
  top: 0;
  height: 100%;
}

#buyBtn:active,
.productCard button:active {
  top: 2px;
}

.cartWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
}

#displayProducts {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

#displayProducts .productCard {
  position: relative;
  border-radius: 10px;
}

#displayProducts .productCard img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.7s;
  z-index: 1;

}

#displayProducts .productCard .face {
  width: 400px;
  height: 250px;
  transition: 0.5s;
}

#displayProducts .productCard .face.imageWrapper {
  position: relative;
  background: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(150px);
}

#displayProducts .productCard:hover .face.imageWrapper {
  transform: translateY(0px);
}

#displayProducts .productCard .face.imageWrapper .content {
  opacity: 1;
  transition: 0.5s;
}

#displayProducts .productCard:hover .face.imageWrapper .content {
  opacity: 1;
}

#displayProducts .productCard .face.infoWrapper {
  position: relative;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
  transform: translateY(-100px);
}

#displayProducts .productCard:hover .face.infoWrapper {
  transform: translateY(0);
}

#displayProducts .productCard .face.infoWrapper .content p {
  margin: 0;
  padding: 0;
  text-align: center;
  color: #414141;
}

#displayProducts .productCard .face.infoWrapper .content h3 {
  margin: 0 0 10px 0;
  padding: 0;
  color: #fff;
  font-size: 24px;
  text-align: center;
  color: #414141;
}

#displayProducts a {
  text-decoration: none;
  color: #414141;
}
